*.swp
*.log
*.log.*
*.log-*
*.db
recorded/*
thumbnail/*.jpg
data/streamfiles/*.ts
data/streamfiles/*.m3u8
.DS_Store
config/*.json
!config.sample.json
!operatorLogConfig.sample.json
!serviceLogConfig.sample.json
data/*.json
node_modules
dist
!.gitkeep
package-lock.json
