*.swp
*.log
*.log.*
*.log-*
*.db
recorded/*
thumbnail/*.jpg
data/streamfiles/*
.DS_Store
config/*.json
config/*.yml
!config.sample.yml
!operatorLogConfig.sample.yml
!serviceLogConfig.sample.yml
data/*.json
data/upload/*
drop/*.log
node_modules
dist
!.gitkeep
.cache
data/upload/*
data/key/*
