*.swp
*.log
*.log.*
*.log-*
*.db
recorded/*
thumbnail/*.jpg
data/streamfiles/*
.DS_Store
config/*.json
!config.sample.json
!operatorLogConfig.sample.json
!serviceLogConfig.sample.json
data/*.json
data/upload/*
node_modules
dist
!.gitkeep
