@import 'variables';

.edit-header
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: row;

    .drawer-button
        color: rgb(117, 117, 117);
        cursor: default;
        line-height: 54px;
        height: 48px;
        min-width: 48px;
        max-width: 48px;
        margin: 8px 12px;
        display: flex;
        align-items: center;  
        justify-content: center;

    .title
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px;
        width: 100%;
        line-height: 21px;
        padding-top: 0px;
        font-size: 20px;
        letter-spacing: .02em;

    .menu-parent
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 0 30px 0 12px;

        .menu-button
            margin: 16px 0;

/* mobile*/
@media screen and (max-width: $header-height)
    .edit-header
        height: $header-min-height

        .drawer-button
            margin: 4px;

        .title
            padding-left: 16px;
            line-height: calc(#{ $header-min-height } + 4px);

        .menu-parent
            margin: 0 12px;
            .menu-button
                margin: 12px 0;

/* header が高くなる */
@media screen and (min-width: $header-height + 1)
    .edit-header
        height: $header-max-height

        .title
            line-height: $header-max-height

