.pagination
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;

    .container
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        .button
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 34px;
            border-radius: 4px;
            margin: 0 4px;
            background-color: white;

        .primary
            color: white;
            background-color: #1867c0;

