.program-title-content
    padding: 16px 0;
    li
        &:hover
            background-color: #eee;
    .mdl-list__item
        margin: -6px 0;

        span
            display: inline-block;
            width: 100%;
            text-align: center;

