.program-setting-content
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .mdl-card__supporting-text
        width: auto;

    .title
        font-weight: bold;

    .number-box
        width: 100%;
        margin: 8px 0;
        .number-title
            color: black;
            width: 150px;
        .mdl-textfield
            width: 100%;
            padding: 12px 0;

    .mdl-dialog__actions
        padding-top: 0;

