$switching-width: 980px;

.rules-content
    padding-bottom: 70px;

    // card view
    .mdl-card
        max-width: $switching-width;
        min-height: 50px;
        margin-left : auto;
        margin-right : auto;

    .title
        font-weight: bold;
        padding-right: 6px;
        line-height: 24px;
        text-align: left;
        margin-right: 40px;
        pointer-events: none;

    .mdl-switch
        position: absolute;
        top: calc(50% - 14px);
        width: 24px;
        right: 18px;

    // table view
    .mdl-data-table
        max-width: 1600px;
        width: calc(100% - 16px);
        margin: 16px auto;

        td, th
            &:last-of-type
                padding-right: 12px;
            &:first-of-type
                padding-left: 24px;
            padding-top: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            padding-left: 8px;

        td
            overflow: hidden;
            vertical-align: middle;
            white-space: normal;
            color: rgba(0, 0, 0, 0.70);

        .keyword, .ignore-keyword
            max-width: 180px;

        .search-option
            width: 96px;

        .channel
            max-width: 120px;

        .genre1, .genre2
            max-width: 11em;

        .toggle
            width: 40px;
            .toggle-container
                width: 40px;
                position: relative;

        .dow
            max-width: 6em;
            min-width: 4em;

        .option
            width: 96px;
            .option-container
                display: flex;

@media screen and (max-width: $switching-width)
    .rules-content
        .mdl-data-table
            display: none;

@media screen and (min-width: $switching-width + 1)
    .rules-content
        .rule-card
            display: none;

// is editing
.rules-content.is-editing
    // selected
    .rule-card.selected
        background-color: #4285f4;

        .mdl-card__supporting-text
            color: white;

    tr.selected
        background-color: #4285f4;

        td
            color: white;

    .rule-card, td.toggle
        .mdl-switch
            pointer-events: none;

    .pagination
        opacity: 0;

