.mdl-tabs
    .tabs-bar
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 48px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        background: white;
    
        .tab
          margin: 0;
          border: none;
          padding: 0 24px;
          float: left;
          position: relative;
          display: block;
          text-decoration: none;
          height: 48px;
          line-height: 48px;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: rgba(0,0,0,.54);
          overflow: hidden;
          cursor: pointer;
    
        .tab.is-active
            color: rgba(0,0,0,.87);
            &:after
                height: 2px;
                width: 100%;
                display: block;
                content: " ";
                bottom: 0;
                left: 0;
                position: absolute;
                background: #3f51b5;

